.hero-slider-wrapper{
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* vùng scroll dọc */
.hero-slider{
  width: 100%;
  height: 100vh;
  overflow-y: auto;          /* cho scroll */
  scroll-behavior: smooth;   /* mượt */
  cursor: grab;
  user-select: none;
}

.hero-slider:active{ cursor: grabbing; }

/* mỗi slide full màn hình */
.hero-slide{
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;        /* QUAN TRỌNG */
  height: 100vh;
  text-decoration: none;
  color: inherit;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* overlay đáy cho đẹp, không cản click */
.hero-slider::after{
  content:"";
  position:absolute;
  left:0; bottom:0;
  width:100%;
  height:140px;
  background: linear-gradient(to top, rgba(0,0,0,0.25), rgba(0,0,0,0));
  pointer-events:none;
}

.hero-text{
  color: #fff;
  text-shadow: 0 2px 8px rgba(0,0,0,0.45);
}


.hero-text h2{
  font-size: 3rem;
}
.hero-text p{
  font-size: 1.5rem;
}

.hero-text.right-center{
  position: absolute;
  right: 2%;
  top: calc(50% + 35px);      /*căn giữa và tính thêm chiều cao của header*/
  transform: translateY(-50%);
  text-align: right;
  max-width:500px;
}
.hero-text.left-center{
  position: absolute;
  left:2%;
  top: calc(50%);      /*căn giữa và tính thêm chiều cao của header*/
  transform: translateY(-50%);
  max-width:480px;
}

/* HEADER đè lên HERO mà chỉ có trang Home */
body[data-page="home"] .main-header{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  z-index: 100;
}

/* nền tối nhẹ để header không “chìm” */
body[data-page="home"] .main-header::after{
  content:"";
  position:absolute;
  inset:0;
  background: rgba(0,0,0,0.25);
  z-index:-1;
}
